@model WebCafe.Models.KhachHang

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<style>
    .col-sm-10,
    .col-sm-2 {
        margin-top: 10px;
        font-size: 14px;
    }

    .col-sm-2 {
        color: #000;
    }
</style>

<div style="margin-top:40px;background-color: var(--bs-body-bg); border-radius:12px; padding:20px;">
    <a asp-action="Index" style="font-size:30px;"><i class='bx bx-arrow-back'></i></a>
    <h1>Chi Tiết Khách Hàng</h1>

    <div>
        <hr/>
        <dl class="row">
            <dt class="col-sm-2 anh-sp">
                Ảnh Khách Hàng:
            </dt>
            <dd class="col-sm-10">
                <img src="@Url.Content("~/assets/img/avatarKH/" + Model.AvatarKh)" style="width:200px;">
            </dd>
            <dt class="col-sm-2">
                Tên Khách Hàng:
            </dt>
            <dd class="col-sm-10">
                @Model.TenKh
            </dd>
            <dt class="col-sm-2">
                Ngày Sinh:
            </dt>
            <dd class="col-sm-10">
                @Model.Ngaysinh.ToString("dd/MM/yyyy")
            </dd>
            <dt class="col-sm-2">
                Giới Tính:
            </dt>
            <dd class="col-sm-10">
                @Model.GioiTinh
            </dd>
            <dt class="col-sm-2">
                Email:
            </dt>
            <dd class="col-sm-10">
                @Model.Email
            </dd>
            <dt class="col-sm-2">
                Điện Thoại:
            </dt>
            <dd class="col-sm-10">
                @Model.Phone
            </dd>
            <dt class="col-sm-2">
                Địa Chỉ:
            </dt>
            <dd class="col-sm-10">
                @Model.Diachi
            </dd>
            <dt class="col-sm-2">
                Ngày Tạo:
            </dt>
            <dd class="col-sm-10">
                @Model.CreateDate.ToString("dd/MM/yyyy")
            </dd>
        </dl>
    </div>
</div>


